
@font-face {
    font-family: 'magic';
    src: url('../../assets/magic.ttf');
}

.overlay {
    position: absolute;
    z-index: 10;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
}


.landing-image {
    background-image: radial-gradient(ellipse, rgba(75, 75, 75, 0.5), rgba(0, 0, 0, 0.9)), url('../../assets/landing-bg.jpg');
    font-family: 'magic';
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.image-blurred {
    background-image: radial-gradient(ellipse, rgba(75, 75, 75, 0.5), rgba(0, 0, 0, 0.9)), url('../../assets/landing-bg.jpg');
    font-family: 'magic';
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    filter: blur(5px);
}

#landing-heading {
    font-size: 6em;
    text-shadow: .00em .05em .05em rgba(0, 0, 0, 0.5);
    color: rgb(175, 175, 175);

}
#start-button {
    width: 25%;
    box-shadow: -.0em .25em .25em rgba(0, 0, 0, 0.5);
    font-size: 1em;

}

#land-text {
}
