<player-creation-overlay *ngIf="displayOverlay" class="overlay"></player-creation-overlay>
<div [ngClass]="{'landing-image':true, 'image-blurred': displayOverlay}" class="container-full">
    <div id="land-text" class="container">
        <i id="g" class="ms ms-g ms-6x ms-cost ms-shadow"></i>
        <i id="c" class="ms ms-c ms-6x ms-cost ms-shadow"></i>
        <i id="r" class="ms ms-r ms-6x ms-cost ms-shadow"></i>
        <i id="s" class="ms ms-s ms-6x ms-cost ms-shadow"></i>
        <i id="w" class="ms ms-w ms-6x ms-cost ms-shadow"></i>
        <i id="b" class="ms ms-b ms-6x ms-cost ms-shadow"></i>
        <i id="u" class="ms ms-u ms-6x ms-cost ms-shadow"></i>
        <br>
        <h1 id="landing-heading" class="fadeIn">Welcome to the Multiverse, Planeswalkers.</h1>
        <br>
        <button id="start-button" class="btn" (click)="beginDrafting()"><em>Begin Drafting</em></button>
    </div>
</div>
