nav{
    margin-bottom: -4px;
    box-shadow: 0em -.2em .2em rgba(0, 0, 0, 0.5);
    color: darkgray;
}
nav a:hover{
    color: darkgray;
}

nav {
    position: absolute;
    width: 99.5vw;
    z-index: 999;
    top: 0;
}
footer {
    position: absolute;
    width: 100vw;
    z-index: 999;
}
