<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">MTG: Draft Simulator</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="about">Previous Drafts</a></li>
      <li><a routerLink="about">About</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="footer navbar-inverse">
  <div class="container">
    <a class="text-muted" routerLink="">??????</a>
  </div>
</footer>
