<app-card-detail [cardToDisplay]="selectedCard" (yesOrNo)="processDetailSelection($event)" *ngIf="selectedCard" class="overlay" (click)="hideCard()"></app-card-detail>
<div class="background">
    <h1> BEGIN DRAFTING </h1>

    <!-- <p>{{currentPlayer?.name}}</p>
    <app-player-info [childCurrentPlayer]="currentPlayer"></app-player-info> -->
    <div class="">

        <div class="" id="card-container">
            <img src="{{card?.imageUrl}}" *ngFor="let card of arrayedBoosterCards" (click)="displayCard(card)"/>

        </div>
        <div id="component-holder">

        </div>

    </div>
    <button (click)="nextGrab()">Next Grab</button>
</div>
