<div class="big-daddy">
    <h1> BEGIN DRAFTING </h1>

    <p>{{currentPlayer?.name}}</p>
    <app-player-info [childCurrentPlayer]="currentPlayer"></app-player-info>
    <div class="">

        <div class="" id="card-container">
            <img src="{{card?.imageUrl}}" *ngFor="let card of currentBoosterCards"/>

        </div>
        <div id="component-holder">

        </div>

    </div>
    <button (click)="nextGrab()">Next Grab</button>
    <button (click)="beginAddCardToUser(1)">Test Add Card</button>

</div>
