#this-card {
    text-align: center;
    z-index: 9;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    color: black;
    outline: solid 1px yellow;
    transform: scale(2);

}

#card-image {
    filter: blur(.25px);
    height: 100%;
    width: 100%;
    border-radius: 1em;
    box-shadow: .00em .2em .3em .2em rgba(0, 0, 0, 0.5);
    outline: solid 1px red;

}

#button-div {
    display: inline-flex;
    text-align: center;
    z-index: 9;
    flex-direction: column;
    color: black;
}
#yes {
    margin-bottom: 1em;
    background-image: radial-gradient(circle, rgb(113, 160, 125), rgb(4,87,43));
    background-color: #007F30;
    color: rgb(20, 16, 17);
    text-shadow: 0em 4em 1em white;
}

button {
    border-radius: .1em;
    border: solid 1px lightgray);

}
