
<div id="input-container" class="container-full">
    <h2 id="overlay-title">Who will be drafting?</h2>

    <div id="input-panel" class="row">
        <div id="symbol">

        </div>
        <div class="" id="name-list">
            <p *ngFor="let name of playerNameList">{{name}}</p>
        </div>
        <div class="" id="new-player">
            <input id="name-input" #playerName placeholder="Planeswalker's Name"  autofocus="true">
            <br>
            <button class="btn btn-sm" type="button" id="add-player-button" (click)="addPlayer(playerName.value)">Add Player</button>
        <div>
            <select class="dropdown" id="select-set"#setOption>
                <option value="KLD">Kaladesh</option>
                <option value="EMN">Eldritch Moon</option>
                <option value="SOI" selected>Shadows Over Innistrad</option>
                <option value="OGW">Oath of the Gatewatch</option>
                <option value="BFZ">Battle for Zendikar</option>
                <option value="DTK">Dragons of Tarkir</option>
                <option value="FRF">Fate Reforged</option>
                <option value="KTK">Khans of Tarkir</option>
                <option value="JOU">Journey into Nyx</option>
                <option value="BNG">Born of the Gods</option>
            </select>
            <br>

            <button class="btn btn-sm" id="start-draft-button" (click)="getBoosters(setOption.value)">Start Draft!</button>
        </div>
    </div>
    </div>
    <div class="button holder">

    </div>
</div>

<div id="loading" *ngIf="loadingCards">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/Magic_the_gathering_pentagon.png/220px-Magic_the_gathering_pentagon.png"/>
</div>
