
<div id="input-container" class="container-full">
    <h2>Who will be drafting?</h2>

<div id="input-panel" class="row">
    <div class="" id="name-list">
            <p *ngFor="let name of playerNameList">{{name}}</p>
    </div>
    <div class="" id="new-player">
        <input id="name-input" #playerName placeholder="Riftwalker's Name"  autofocus="true">
        <br>
        <button class="btn btn-sm" type="button" id="add-player-button" (click)="addPlayer(playerName.value)">Add Player</button>
    </div>
</div>
<div class="button holder">
    <button class="btn" id="start-draft-button" (click)="generateDraft()">Begin!</button>
</div>
</div>
<div id="load-animations">

</div>
<div id="loading" *ngIf="loadingCards">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/Magic_the_gathering_pentagon.png/220px-Magic_the_gathering_pentagon.png"/>
</div>
